<!-- Login and signup modal with login-box directive -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{ loginModal.currentView.charAt(0).toUpperCase() + loginModal.currentView.slice(1, loginModal.currentView.length) }}</h4>
            </div>
            <div class="modal-body">
                <div id="login" ng-show="loginModal.currentView === 'login'">
                    <paper-input style="color: #fff;" floatinglabel label="enter your username" name="username"></paper-input>
                    <paper-input style="color: #fff;" floatinglabel label="and your password" name="password" type="password"></paper-input>
                </div>
                <div id="signup" ng-show="loginModal.currentView === 'register'">
                    <paper-input style="color: #fff;" floatinglabel label="enter a username" name="username"></paper-input>
                    <paper-input style="color: #fff;" floatinglabel label="and a password" name="password" type="password"></paper-input>
                    <paper-input style="color: #fff;" maxlength="5" floatinglabel type="number" label="along with your zip code" name="zipcode"></paper-input>
                </div>
            </div>
            <div class="modal-footer">
                <a ng-click="loginModal.toggleView()" class="pull-left">
                    <i ng-show="loginModal.currentView === 'register'" class="fa fa-sign-in"></i>
                    <i ng-show="loginModal.currentView === 'login'" class="fa fa-user"></i>
                    {{ loginModal.currentView === 'login' ? 'New here? Register' : 'Already have an account? Login' }}
                </a>
                <button type="button" class="btn grey small" data-dismiss="modal">Close</button>
                <button type="button"
                        class="btn white small"
                        ng-show="loginModal.currentView === 'login'"
                        ng-click="loginModal.login.login()">
                    Login
                </button>
                <button type="button"
                        class="btn white small"
                        ng-show="loginModal.currentView === 'register'"
                        ng-click="loginModal.signup.signup()">
                    Register
                </button>
            </div>
        </div>
    </div>
</div>
