<div>
    <paper-tabs class="green" selected="0">
        <paper-tab ng-click="card.setView('info')">STORE INFO</paper-tab>
        <paper-tab ng-click="card.setView('reviews')">REVIEWS</paper-tab>
    </paper-tabs>
    <div class="review-wrapper" ng-show="card.currentView === 'reviews'">
        <div class="new-review">
            <paper-input floatinglabel
                         multiline
                         name="review-text"
                         style="color: #222;"
                         label="Enter a review here"></paper-input>
            <ul class="star-list">
                <li><i class="fa fa-star-o" name="1"></i></li>
                <li><i class="fa fa-star-o" name="2"></i></li>
                <li><i class="fa fa-star-o" name="3"></i></li>
                <li><i class="fa fa-star-o" name="4"></i></li>
                <li><i class="fa fa-star-o" name="5"></i></li>
            </ul>
            <button class="btn add-review"
                    ng-click="card.submitReview()">
                <i class="fa fa-plus-square-o"></i> Add review
            </button>
        </div>
        <hr />
        <div class="existing-reviews">
            <div ng-repeat="review in card.reviews">
                <div>
                    <ul class="star-list locked">
                        <li>
                            <i ng-show="review.stars < 1" class="fa fa-star-o"></i>
                            <i ng-show="review.stars >= 1" class="fa fa-star"></i>
                        </li>
                        <li>
                            <i ng-show="review.stars < 2" class="fa fa-star-o"></i>
                            <i ng-show="review.stars >= 2" class="fa fa-star"></i>
                        </li>
                        <li>
                            <i ng-show="review.stars < 3" class="fa fa-star-o"></i>
                            <i ng-show="review.stars >= 3" class="fa fa-star"></i>
                        </li>
                        <li>
                            <i ng-show="review.stars < 4" class="fa fa-star-o"></i>
                            <i ng-show="review.stars >= 4" class="fa fa-star"></i>
                        </li>
                        <li>
                            <i ng-show="review.stars < 5" class="fa fa-star-o"></i>
                            <i ng-show="review.stars >= 5" class="fa fa-star"></i>
                        </li>
                    </ul>
                </div>
                <div>
                    <strong>{{ review.username }}</strong>: {{ review.text }}
                </div>
                <hr />
            </div>
        </div>
    </div>
    <div class="info-wrapper" ng-show="card.currentView === 'info'">
        <h4>{{ card.name }}</h4>
        <div ng-show="card.averageNumStars">
            Average ({{ card.averageNumStars | number:2 }})
            <ul class="star-list locked"
                style="position: relative; top: 2px; left: 12px;">
                <li>
                    <i ng-show="card.averageNumStarsForDisplay < 1" class="fa fa-star-o"></i>
                    <i ng-show="card.averageNumStarsForDisplay >= 1" class="fa fa-star"></i>
                </li>
                <li>
                    <i ng-show="card.averageNumStarsForDisplay < 2" class="fa fa-star-o"></i>
                    <i ng-show="card.averageNumStarsForDisplay >= 2" class="fa fa-star"></i>
                </li>
                <li>
                    <i ng-show="card.averageNumStarsForDisplay < 3" class="fa fa-star-o"></i>
                    <i ng-show="card.averageNumStarsForDisplay >= 3" class="fa fa-star"></i>
                </li>
                <li>
                    <i ng-show="card.averageNumStarsForDisplay < 4" class="fa fa-star-o"></i>
                    <i ng-show="card.averageNumStarsForDisplay >= 4" class="fa fa-star"></i>
                </li>
                <li>
                    <i ng-show="card.averageNumStarsForDisplay < 5" class="fa fa-star-o"></i>
                    <i ng-show="card.averageNumStarsForDisplay >= 5" class="fa fa-star"></i>
                </li>
            </ul>
        </div>

        Address: {{ card.address && card.address !== "null" ? card.address : "none provided" }}<br />
        Phone Number: {{ card.number && card.number !== "null" ? card.number : "none provided" }}<br />
    </div>
</div>
