@(message: String)

@stylesheets = {}
@javascripts = {}
@content = {

    <!------------------------------------>
    <!-- Begin application content here -->
    <!------------------------------------>


    <div ng-app="starredbucks.Application">
        <div ng-controller="StarredBucksApp">

            <div class="logout"
                 ng-show="sb.userData.isLoggedIn"
                 ng-click="sb.logout()">
                
                <i class="round-button fa fa-gear" style="margin-right: 12px;"></i>
                <i class="round-button fa fa-sign-out"></i>
            </div>

            <!-- Login and signup modal -->
            <login-box></login-box>
            
            <!-- Before a user is logged in, show a splash screen with the login modal present -->
            <div id="splash-screen" ng-hide="sb.userData.isLoggedIn">
                <h1>StarredBucks</h1>
                <div class="login-container">
                    <button class="btn btn-lg" data-toggle="modal" data-target="#login-modal">
                        Login or Register
                    </button>
                </div>
            </div>

            <!-- The dashboard is presented to logged in users -->
            <div class="dashboard-container" ng-show="sb.userData.isLoggedIn"></div>

            <!-- Holds details about the store in focus (store-card elements will be dynamically injected) -->
            <div class="store-card-container" ng-show="sb.userData.isLoggedIn"></div>
        </div>        
    </div>


    <!------------------------------------>    
    <!-- End application content here ---->
    <!------------------------------------>
}

@main(content)(stylesheets)(javascripts)
